/* Debug layout */




/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #ffffff;  
  
    color: #303030;
    
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}



footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.xiv {
  font-family: 'Cinzel Decorative';
}



img.zweefLinks {
    float: left;
    margin-right: 15px;
}

ul {


}
#hoofdtitel {
  font-size: 50px;
  text-align: center;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #b03c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: ;
}

/* header */

.knop {
  padding-left:10px;
  padding-right:10px;
  width:fit-content;
  margin:auto;
  font-family: 'Cinzel Decorative';
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    width:fit-content;
    margin:auto;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    font-family: 'DM Mono'
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #808080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #aaaaaa;
}






