*{
  box-sizing: border-box;
  overflow: auto;
  margin: 0px;
}

img {
/*  border-radius: 10px; */
  border: 2px solid red;
}
div {
  border: 2px solid green;
}
/* Basislayout */

html, body {
    height: 100%;
    padding: 0px;
    margin:  0px;
    color: #303030;
    
}
body {
  background-color:rgba(255,255,255,75%);

}
html {
background-color: white;
}


.column {
  height: 100%;
  width: calc(100% / 3);
  float: left;
  padding: 35px;
  
}

.hptekst-sieraden {
  text-align: center;
  font-family: 'Cinzel Decorative';
}

.hptekst-sale {
  text-align: center;
  font-family: 'Cinzel Decorative';

}

.hptekst-horloges {
  text-align: center;
  font-family: 'Cinzel Decorative';
}

.divhp-sieraden {
  background-color: white;
   margin: auto;
   width: 50%;
   padding: 10px;
}

.divhp-sale {
  background-color: white;
   margin: auto;
   width: 50%;
   padding: 10px;
}

.divhp-horloges {
  background-color: white;
   margin: auto;
   width: 50%;
   padding: 10px;
}

.grote-foto {
  padding-bottom: 10px;
}

img {
  width: 100%;
}

background-image {
  opacity: 0.5;
}

main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


article {
    text-align: justify;
}

.start-tekst {
  text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.xiv {
  font-family: 'Cinzel Decorative';
}






ul {


}
#hoofdtitel {
  font-size: 50px;
  text-align: center;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: ;
}

/* header */

.knop {
  padding-left:10px;
  padding-right:10px;
  width:fit-content;
  margin:auto;
  font-family: 'Cinzel Decorative';
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    width:fit-content;
    margin:auto;
    padding: 0;
    overflow: hidden;
    font-family: 'DM Mono'
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #aaaaaa;
}






